@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-purple-700: #3336c4;
  --color-purple-500: #6366f1; /* 메인컬러 */
  --color-purple-300: #a5b4fc; /*서브컬러 */
  --color-red: #ff6d6d;
  --color-yellow: #e5e03e;
  --color-green: #7bd35b;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
